body {
    box-sizing: border-box;
    margin: 0;
   
}
table, td, th {
    border: 4px solid cadetblue;
    border-collapse: collapse;
    font-weight: bold;
    box-shadow: 5px 5px 5px royalblue;
}
table {
    width: 500px;
    height: 350px;
    background-image: url(./OIP.jpg);
    opacity: 0.75;
    background-size: cover;
   
}
.naslov {
    font-size: large;
    font-weight: bold;
    color: blue;
}
h4 {
    text-align: center;
}
tr > td {
    text-align: center;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
img {
    width: 70px;
    height: 70px;
    margin: 5px;
    border: 1px solid red;
    border-radius: 20%;
}
.fleks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul {
    list-style-type: none;
   
}
