body {
  box-sizing: border-box;
  margin: 0px;
}
.one {
  width: 80%;
  height: 100%;
  margin: 3% auto 2%;
  display: flex;
}
#photo_div {
  text-align: center;
}
#photo_div img {
  border-radius: 50%;
  width: 250px;
}
.first {
  width: 30%;
background: linear-gradient(#e66465, #9198e5);
  padding: 10px;
}
ul {
  list-style-type: none;
}
.header2 {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
.github {
  font-weight: bold;
}
a {
  text-decoration: none;
}
.projects a {
  font-weight: bold;
  color: blueviolet;
  font-size: 24px;
}
a:hover {
  color: red;
}
.profesional,
.contact,
.projects,
.personal {
  color: darkblue;
}
.projects p {
  font-size: 12px;
}
.second {
  width: 70%;
  background: linear-gradient(217deg, rgba(223, 54, 54, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(205, 111, 172, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 60.71%);;
}
.name {
  text-align: center;
  padding: 5px;
}
.name h2 {
  font-size: 36px;
  color: darkmagenta;
}
.name p {
  font-size: 24px;
  color: blueviolet;
}
.heading_two {
  font-weight: bolder;
  color: blueviolet;
}
.about,
.work_experiance,
.education {
  margin: 5px 5% 5px;
  color: darkblue;
  padding: 7px;
}
.work_experiance,
.about,
.education p {
  font-size: 14px;
}
